h3 {
    margin-top: 1em;
}
div.schedule div {
    margin: 0 1em 0 1em;
    margin: 0 0.1em 0 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div.schedule div:not(.heading) {
    border-radius: 5px;
}
div.schedule > div.heading {
    white-space: nowrap;
    background: aliceblue;
    width: 100%;
}
div.schedule > div.lecture {
    background-color: lightgreen;
}
div.schedule div.assignment {
    background-color: coral
}
div.schedule div.tutoring {
    background-color: lightblue;
}